---
page_title:         "W Residences"
body_class:         "W Residences"
page_description:   "A mock website for the W Residences.  Creative: Fatima Jafri  Copy: Megan Development/Design: Doa Jafri"
---

.index
  %h1 About
  %p this line was edited from github ui from master branch and should be automagically deployed to heroku within 10 minutes
/ .index
