---
page_title:         "HTML5 Boilerplate Test"
body_class:         "h5bp"
page_description:   "Just a test page."

---

/[if lt IE 7]
  %p.chromeframe You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.

/ Add your site or application content here
%p Hello world! This is HTML5 Boilerplate.