---
page_title:         "W Residences"
body_class:         "W Residences"
page_description:   "A mock website for the W Residences.  Creative: Fatima Jafri  Copy: Megan Development/Design: Doa Jafri"
---

.row.full-width.page
  #web.large-4.columns.slant
    %h3.text
      =image_tag "logo.gif"
  #webuild.large-4.columns.slant
  #mobile.large-4.columns.slant
    %h3.text2 LEASE

#slide8.all
  #purpose
    =image_tag "cityscape8.png"
  #text
    %h1 They all say home is where the heart is.  
    %h1 Well, we're at the heart of it all.

#slide7.all
  #purpose
    =image_tag "blinds7.png"
  #text
    %h1 Living without limits starts with ignoring the status quo.

#slide6.all
  #purpose
    =image_tag "lroom6.png"
  #text
    %h1 White pickets fences are only boundaries.  
    %h1 Here, there are none.

#slide5.all
  #purpose
    =image_tag "balcony5.jpg"
  #text
    %h1 Be willing to host the world.

#slide4.all
  #purpose
    =image_tag "room4.png"
  #text
    %h1 The ones who consider a change in scenery more than rearranging the furniture.

#slide3.all
  #purpose
    =image_tag "lamp3.jpg"
  #text
    %h1 We invite the people that never stop living.

#slide2.all
  #purpose
    =image_tag "sping2.png"
  #text
    %h1 Society is driven by those not defined by a daily routine- those who refuse to have the same day twice.

#slide1.all
  #purpose
    =image_tag "drip.png"
  #text
    %h1 In a fast-paced world, settling down isn't an option.

#arrow
  =image_tag "arrow.png"

#finaltext.all
  #text
    %h1 The W Residences
    %h1 Home is Happening  
    %h2 Now Leasing.
