---
page_title:         "W Residences"
body_class:         "W Residences"
page_description:   "A mock website for the W Residences.  Creative: Fatima Jafri  Copy: Megan Development/Design: Doa Jafri"
---

#purpose
  %h1 Content Here

.row.full-width
  #web.large-4.columns.slant
    %h3.text
      =image_tag "logo.gif"
  #webuild.large-4.columns.slant
  #mobile.large-4.columns.slant
    %h3.text2 LEASE