---
page_title:         "W Residences"
body_class:         "W Residences"
page_description:   "A mock website for the W Residences.  Creative: Fatima Jafri  Copy: Megan Development/Design: Doa Jafri"
---

#slide1
  #purpose
    =image_tag "drip.png"
  #text
    %h1 In a fast-paced world, settling down isn't an option.







.row.full-width
  #web.large-4.columns.slant
    %h3.text
      =image_tag "logo.gif"
  #webuild.large-4.columns.slant
  #mobile.large-4.columns.slant
    %h3.text2 LEASE